<nav
    class='navbar navbar-expand-lg navbar-light bg-success-subtle position-fixed'
    style='font-weight: 600; font-size: 23px; width: 100%;'
>
    <div class='container px-4 px-lg-5'>
        <a class='navbar-brand' href='/homepage'>Start Bootstrap</a>
        <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        ><span class='navbar-toggler-icon'></span></button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4'>

                <li class='nav-item dropdown'>
                    <a
                        class='nav-link dropdown-toggle'
                        id='navbarDropdown'
                        href='#'
                        role='button'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >Keyboard</a>
                    <ul class='dropdown-menu' style="" aria-labelledby='navbarDropdown'>
                        <li><a class='dropdown-item' href='#!'>All Products</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='#!'>Mr suit</a></li>
                        <li><a class='dropdown-item' href='#!'>Cyber Board</a></li>
                        <li><a class='dropdown-item' href='#!'>FL Esport</a></li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a
                        class='nav-link dropdown-toggle'
                        id='navbarDropdown'
                        href='#'
                        role='button'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >Keycap</a>
                    <ul class='dropdown-menu' style="" aria-labelledby='navbarDropdown'>
                        <li><a class='dropdown-item' href='#!'>All Products</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='#!'>XMI</a></li>
                        <li><a class='dropdown-item' href='#!'>XDA</a></li>
                        <li><a class='dropdown-item' href='#!'>SA SP Maxkey</a></li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a
                        class='nav-link dropdown-toggle'
                        id='navbarDropdown'
                        href='#'
                        role='button'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >Headphone</a>
                    <ul class='dropdown-menu' style="" aria-labelledby='navbarDropdown'>
                        <li><a class='dropdown-item' href='#!'>All Products</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='#!'>HyperX</a></li>
                        <li><a class='dropdown-item' href='#!' >Sony</a></li>
                        <li><a class='dropdown-item' href='#!'>Sound</a></li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a
                        class='nav-link dropdown-toggle'
                        id='navbarDropdown'
                        href='#'
                        role='button'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >Shop</a>
                    <ul class='dropdown-menu' style="" aria-labelledby='navbarDropdown'>
                        <li><a class='dropdown-item' href='#!'>All Products</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='#!'>Keyboard</a></li>
                        <li><a
                                class='dropdown-item'
                                href='#!'
                            >Headphone</a></li>
                        <li><a class='dropdown-item' href='#!'>Keycap</a></li>
                    </ul>
                </li>
                <li class='nav-item'><a
                        class='nav-link'
                        href='#!'
                >About</a></li>
            </ul>
            <form class='d-flex'>
                <button
                    class='btn btn-outline-dark'
                    type='submit'
                    style=' font-size: 20px;'
                >
                    <i class='bi-cart-fill me-1'></i>
                    Cart
                    <span
                        class='badge bg-dark text-white ms-1 rounded-pill'
                    >0</span>
                </button>

            </form>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" style="border: none; background-color: transparent; color: black; font-size: larger;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{data.user.userName}}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </div>
        </div>
    </div>
</nav>
